@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);

// Colors
$first-color: #70737C;
$secondry-color: #EFEFEF;
$third-color: #121212;
$white-color: #fff;

// BANNER COLORS
$banner-first-color: #EAF1EB;
$text-color: #1F2533;
$green-color: #359740;
$red-color: #E55C5C;

// LONGLINE COLORS
$back-color: rgba(255, 230, 46, 0.09);

// BLOG COLORS
$blog-card-color: #EFF2F8;

// FONTS

$main-font: "Lexend", sans-serif;